<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title><%= pageTitle %></title>
        <link
            rel="stylesheet"
            href="css/main.css"
        />
    </head>
    <body class="flex_container_col">
        <%- include("includes/navigation.ejs") %>
        <main class="flex_container_col">
            <h1>Portfolio</h1>

            <% console.log(projects) %>

            <section id="about-me-section"><%- include("includes/about-me.ejs") %></section>

            <section id="projects-section"><%- include("includes/projects-section.ejs") %></section>

            <section id="contact-section"><%- include("includes/contact-section.ejs") %></section>
        </main>
    </body>
</html>
